.header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    box-shadow: -16px 32px 11px -34px rgba(0,0,0,0.45);
}

.quote_btn {
    background-color: #ce1226;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
}

.primary_qt_btn {
    color: #ffffff;
    font-weight: bold;
    border-bottom: none;
    cursor: pointer;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
}

span.site-logo-img {
    align-self: center;
}

@media only screen and (max-width: 802px) {
    
   #quoteButton {
        display: none;
     }
}