body {
  font: 100%/1.5 opensans, Corbel, "Lucida Grande", "Trebuchet Ms", sans-serif;
  color: #111;
  background-color: #fff;
  margin: 1rem auto;
  max-width: 700px;
  max-height: 1000px;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 700 !important;
  margin: 15px;
}

h4 {
  text-align: center;
}

.quote_btn {
  text-decoration: none;
  background: #1d1b1b;
  color: white;
  border: #1d1b1b 2px solid;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  padding: 15px 15px;
  font-weight: bold;
  line-height: 70px;
}

.quote_btn:hover {
  background-color: #af202f;
  border: none;
  color: white;
}

.input {
  background-color: #1d1b1b;
  color: white;
  padding: 2% 5% 4%;
  border-radius: 0.8em 0.8em 0 0;
}

#output-results {
  border: solid 7px #1d1b1b;
  color: #1d1b1b;
  border-radius:0 0 0.8em 0.8em;
}

.output-header {
  color: white;
  background-color: #1d1b1b;

  padding: 1% 2% 1% 5%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.question {
  padding-right: 5%;
}

.question_name {
  margin-block-end: 5px;
}

.result {
  text-align: center;
}

.result h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h3 {
  font-size: 1.3em;

}

.dropdown {
  position: relative;
  display: block;
  margin-top: 0.5em;
  padding: 0;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
}

.styled-table th {
  background-color: #565656;
  color: #fff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 0 6px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #1d1b1b;
}

.dropdown select,
.input_lfield input {
  width: 100%;
  margin: 0;
  background: none;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.25em;
  color: #444;
  padding: 0.6em 1.9em 0.5em 0.8em;
  line-height: 1.3;
  opacity: 80%;
}

.emailfield input {
  background: #f3f3f3;
}

.dropdown::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 8px;
  top: 50%;
  right: 1em;
  margin-top: -4px;
  z-index: 2;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E")
    0 0 no-repeat;
  pointer-events: none;
}

.calculate-button {
  margin-top: 2.9em;
  border-radius: 40px;
  background-color: #ce1226;
  color: white;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}

.calculate-button:hover {
  background-color: #af202f;
}

.result-list {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  margin-right: 20px;
}

.footer_link {
  text-decoration: none;
  color: #af202f;
}

.footer_link:hover {
  text-decoration: underline;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .dropdown select::-ms-expand {
    display: none;
  }
  select:focus::-ms-value {
    background: transparent;
    color: #222;
  }
}

body:last-child .dropdown::after,
x:-moz-any-link {
  display: none;
}

body:last-child .dropdown select,
x:-moz-any-link {
  padding-right: 0.8em;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

_::-moz-progress-bar,
body:last-child .dropdown {
  overflow: hidden;
}

_::-moz-progress-bar,
body:last-child .dropdown:after {
  display: block;
}

_::-moz-progress-bar,
body:last-child .dropdown select {
  padding-right: 1.9em;
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
  width: 110%;
}

_::-moz-progress-bar,
body:last-child .dropdown select:focus {
  outline: 2px solid rgb(243, 243, 243);
}

x:-o-prefocus,
.dropdown::after {
  display: none;
}

.dropdown option:hover {
  background-color: #888;
}

select:focus {
  outline: none;
  box-shadow: 0 0 1px 3px rgb(243, 243, 243);
  background-color: transparent;
  color: #222;
  border: 1px solid #aaa;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

option {
  font-weight: normal;
}

.button {
  border: 1px solid #bbb;
  border-radius: 0.3em;
  background: #f3f3f3;
}

.cost-value {
  font-size: 2em;
  text-align: center;
  opacity: 70%;
}

#energy-use-row {
  border-bottom: none !important;
}

#quote-btn-row {
  background-color: white !important;
}

.quote-btn-data {
  text-align: center;
}

@media only screen and (max-width: 802px) {
  body {
    margin: 0.5em;
  }
  .row {
    display: block;
  }

  h1 {
    font-size: 2em;
  }

  .dropdown select {
    font-size: 1em;
  }

  h3 {
    font-size: 1em;
  }

  h2 {
    font-size: 1em;
  }

  .cost-value {
    font-size: 1.2em;
  }

  .quote_btn {
    display: inline-flex;
    border-radius: 10px;
    line-height: 15px;
  }
}
